.place__title {
    max-width: 440px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    font-style: normal;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    grid-area: place__title;
    margin: 0;
    margin-bottom: 48px;
}

@media screen and (max-width: 425px) {
    .place__title {
        width: calc(100vw*288/320);
        font-size: 32px;
        line-height: 35px;
        margin: auto;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 426px) and (max-width: 490px) {
    .place__title {
        font-size: 8.571429vw;
    }
}

@media screen and (min-width: 491px) and (max-width: 768px) {
    .place__title {
        max-width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
}