.place__title {
    width: 440px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    font-style: normal;
    align-self: flex-start;
    text-align: left;
    grid-area: place__title;
    margin: 0;
    margin-bottom: 48px;
}

@media screen and (max-width: 320px) {
    .place__title {
        width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: auto;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .place__title {
        max-width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
}