.page {
    width: 100%;
    min-height: max-content;
    margin: 0 auto;
    font-family: Inter, Arial, sans-serif;
    color:#FFFFFF;
}

@media screen and (max-width: 320px) {
    .page {
        width: 100%;
        height: auto;
    }
}

 @media screen and (min-width: 321px) and (max-width: 768px) {
     .page {
        width: 100%;
     }
 }

 @media screen and (min-width: 1025px) {
     .page {
        width: 100%;
     }
 }