.page {
    width: 100%;
    min-height: max-content;
    margin: 0 auto;
    font-family: Inter, Arial, sans-serif;
    color:#FFFFFF;
}

@media screen and (max-width: 320px) {
    .page {
        height: auto;
    }
}