.places {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    row-gap: 80px;
    margin: auto;
    margin-top: 92px;
}

@media screen and (max-width: 425px) {
    .places {
        row-gap: 3px;
        margin-top: 64px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px){
    .places {
        margin-top: 88px;
    }
}

@media screen and (min-width: 1025px) {
    .places {
        max-width: 984px;
        width: calc(100%*984/1184);
        row-gap: 80px;
    }
}