.places {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    row-gap: 80px;
    margin: auto;
    margin-top: 92px;
}

@media screen and (min-width: 1025px) {
    .places {
        max-width: 984px;
        width: calc(100%*984/1184);
        margin: auto;
        margin-top: 92px;
    }
}