.intro__list {
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    font-style: normal;
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
}

@media screen and (max-width: 425px) {
    .intro__list {
        width: calc(100%*288/320);
        max-width: 288px;
        margin: auto;
    }
}