.lead {
    width: 100%;
    max-width: 928px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 48px;
}

@media screen and (max-width: 320px) {
    .lead {
        width: 100%;
    }
}

@media screen and (min-width: 1025px) {
    .lead {
        width: calc(100%*984/1184);
        max-width: 984px;
        margin-top: 56px;
    }
}