.cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 122%;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
    margin-top: 32px;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 530px) {
    .cover__subtitle {
        width: calc(100%*288/320);
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }
}

@media screen and (min-width: 531px) and (max-width: 600px) {
    .cover__subtitle {
        width: calc(100%*360/600);
        font-size: 14px;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .cover__subtitle {
        width: calc(100%*360/768);
    }
}