.header__lang-links_ru {
    text-decoration: underline;
    opacity: 1;
}

.header__lang-links_ru:hover {
    opacity: .8;
}

@media screen and (max-width: 425px) {
    .header__lang-links_ru {
        width: 22px;
    }
}