.lead__title {
    width: calc(100%*720/1024);
    max-height: 200px;
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 320px) {
    .lead__title {
        min-width: 288px;
        max-height: 88px;
        font-size: 40px;
        line-height: 44px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .lead__title {
        width: calc(100%*720/768);
    }
}