.lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 56px;
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
}