.cover{
    margin-top: 92px;
    position: relative;
    opacity: .8;
}

.cover:hover {
    opacity: .3;
}

@media screen and (max-width: 425px) {
    .cover {
        margin-top: 34px;
    }
}

@media screen and (min-width: 1025px) {
    .cover {
        min-width: calc(100%*1184/1280);
        max-width: calc(100%*1184/1280);
        margin: auto;
	    margin-top: 92px;
    }
}