.footer {
    max-width: calc(100%*928/1024);
    margin: auto;
    margin-top: 92px;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 425px) {
    .footer {
        width: 186px;
        font-size: 24px;
        line-height: 24px;
        flex-direction: column;
        margin-left: 16px;
        margin-top: 64px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px){
    .footer {
        width: calc(100%*720/768);
        font-size: calc(100vw*16/768);
        line-height: calc(100vw*18/768);
        margin-top: 88px;
    }
}

@media screen and (min-width: 1025px){
    .footer {
        max-width: calc(100%*1184/1280);
    }
}