.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 48px;
}

@media screen and (max-width: 425px) {
    .place__website {
        width: calc(100%*288/320);
        margin: auto;
        margin-bottom: 0;
    }
}
